{% extends "base.html" %}{% block body %}
<div class="card"><h3>Audit trail (hash chain: <span style="color:{{ 'green' if ok else 'red' }}">{{ 'INTACT' if ok else 'BROKEN at #%s'|format(bad) }}</span>)</h3>
<table><tr><th>#</th><th>Time</th><th>Actor</th><th>Action</th><th>Detail</th><th>Hash</th></tr>
{% for r in rows %}<tr><td>{{ r.id }}</td><td>{{ fmt(r.ts) }}</td><td>{{ r.actor }}</td><td>{{ r.action }}</td><td>{{ r.detail }}</td><td><code>{{ r.entry_hash[:14] }}</code></td></tr>{% endfor %}
</table></div>
{% endblock %}
